hdfc-poc-ssd/designs/server/services/authentication/auth.json
[
    {
        "id": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "type": "tab",
        "createdDate": "2023-08-30T07:36:25.001Z",
        "label": "auth",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "auth",
        "relativeParentPath": "authentication"
    },
    {
        "id": "sd_s9uLgQETU1XSK90O",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "registration",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 105,
        "y": 100,
        "wires": [
            [
                "sd_sSdknjroOGMNCX34"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_s9uLgQETU1XSK90O"
    },
    {
        "id": "sd_7huV8lI9DYKBrqcn",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login end-point",
        "path": "login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 105,
        "y": 280,
        "wires": [
            [
                "sd_ffmlYMVOVjMzh3lR"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_7huV8lI9DYKBrqcn"
    },
    {
        "id": "sd_dTHTgsyLa7JFY4L9",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let bcrypt = require('bcryptjs');\n\n// get values by body\nlet {username, password} = bh.input.body;\n\n// hash-mapping password\nlet hashPassword;\nawait bh.hashValueResult.then((hashedPassword) => {\n    hashPassword = hashedPassword;\n  })\n  .catch((error) => {\n    console.error('Error:', error);\n  });\n\n// auto generate agency code\nlet agencyCode = bh.local.agencyCode;\n\n// bodyParams\nbh.bodyParams = { username, password:hashPassword, agent_code:agencyCode, device_ids:{'uuids':[]} };\nconsole.log(\"bodyParams:\", bh.bodyParams);",
        "functionName": "sd_dTHTgsyLa7JFY4L9",
        "category": "Function",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "sd_xxCbW1xb92NscFtW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_ffmlYMVOVjMzh3lR",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let {username, agent_code, password} = bh.input.body;\n\nif(username != undefined) {\n    bh.condition = {username};\n} else {\n    bh.condition = {agent_code}\n}",
        "functionName": "sd_ffmlYMVOVjMzh3lR",
        "category": "Function",
        "x": 205,
        "y": 280,
        "wires": [
            [
                "sd_9TyhHPuFlrGpmtoi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_sUOWFjVXqBgLu8T8",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "responseValue",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.responseValue",
            "send": "bh.responseValue"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_sUOWFjVXqBgLu8T8",
        "category": "HTTP",
        "x": 710,
        "y": 100,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_zY8BqtKNQrsYyGtO",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "agencyResponse",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.agencyResponse",
            "send": "bh.agencyResponse"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_zY8BqtKNQrsYyGtO",
        "category": "HTTP",
        "x": 865,
        "y": 240,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_m7Fc7oKSGPpg56ds",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "start",
        "name": "check device bind",
        "path": "check-device/:device_id",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 105,
        "y": 820,
        "wires": [
            [
                "sd_wAYj0zYgD7oaU0pT"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_m7Fc7oKSGPpg56ds"
    },
    {
        "id": "sd_wAYj0zYgD7oaU0pT",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// select * from agent_db WHERE device_ids @> '{\"uuids\":  [5]}';\n\nlet device_id = bh.input.params.device_id;\nbh.query = `select * from agent_db WHERE device_ids @> '{\"uuids\":  [${device_id}]}';`",
        "functionName": "sd_wAYj0zYgD7oaU0pT",
        "category": "Function",
        "x": 205,
        "y": 820,
        "wires": [
            [
                "sd_MxdohO5U0xe0Cdol"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_NSeb907wu3TACa50",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "response",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.response",
            "send": "bh.response"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_NSeb907wu3TACa50",
        "category": "HTTP",
        "x": 505,
        "y": 820,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_zcy9NzRqJRDUieQB",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "start",
        "name": "Agency Update",
        "path": "agency-update",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 105,
        "y": 600,
        "wires": [
            [
                "sd_VYjl32JjDN1w2ZrV"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_zcy9NzRqJRDUieQB"
    },
    {
        "id": "sd_VYjl32JjDN1w2ZrV",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let {username, device_id} = bh.input.body;\n\nbh.condition = {username};",
        "functionName": "sd_VYjl32JjDN1w2ZrV",
        "category": "Function",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "sd_8J5qJTACPryrpFet"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_f7MVEArhVg09KHKk",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "response",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.response",
            "send": "bh.response"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_f7MVEArhVg09KHKk",
        "category": "HTTP",
        "x": 1025,
        "y": 600,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_sSdknjroOGMNCX34",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "get hash password",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_8m7T1Fz0hFKGTA3m",
            "type": "tab",
            "createdDate": "2023-08-30T08:49:20.522Z",
            "label": "commonFunction",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_NxRBzEv1JatjAGDe",
            "flowName": "hashing"
        },
        "inputVariables": [
            {
                "key": "payload",
                "map": true,
                "valueType": "bh.input",
                "value": "body.password"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "hashValue",
                "valueType": "bh",
                "value": "hashValueResult",
                "mapVarName": "hashValue",
                "localVar": "bh.hashValueResult"
            }
        ],
        "callService": "../util/commonFunction",
        "startName": "hashing",
        "inputParams": [
            "bh.input.body.password"
        ],
        "accept_bh": false,
        "functionName": "getHashPassword",
        "category": "General",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "sd_TZbgcYXt5gJ6iFCy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_TZbgcYXt5gJ6iFCy",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "get agency code",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_8m7T1Fz0hFKGTA3m",
            "type": "tab",
            "createdDate": "2023-08-30T08:49:20.522Z",
            "label": "commonFunction",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_SgcPIeY6HZOKTDqM",
            "flowName": "generateAgencyId"
        },
        "inputVariables": [],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "agencyId",
                "valueType": "bh.local",
                "value": "agencyCode",
                "mapVarName": "agencyId",
                "localVar": "bh.local.agencyCode"
            }
        ],
        "callService": "../util/commonFunction",
        "startName": "generateAgencyId",
        "inputParams": [],
        "accept_bh": false,
        "functionName": "getAgencyCode",
        "category": "General",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "sd_dTHTgsyLa7JFY4L9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_xxCbW1xb92NscFtW",
        "type": "insert",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "erd": "_DM_1wo0oo92n",
        "entityId": "_EN_ztxyh089jt",
        "_UI_entityName": "agent_db",
        "dbConfigId": "sd_dfYj0bD4aEucAtoz",
        "insertObject": "bh.bodyParams",
        "resultMapping": "bh.responseValue",
        "functionName": "sd_xxCbW1xb92NscFtW",
        "category": "Data Model",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "sd_vcwnmypA5UfUTyQQ"
            ]
        ],
        "__ssdTypeInputs__": {
            "insertObject": {
                "type": "bh",
                "value": "bodyParams",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "responseValue",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_vcwnmypA5UfUTyQQ",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"responseValue:\", );\nlet responseValue = bh.responseValue;\nbh.responseValue = {\n    \"msg\": \"record create successfully\",\n    \"status\": 200,\n    responseValue,\n}",
        "functionName": "sd_vcwnmypA5UfUTyQQ",
        "category": "Function",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "sd_sUOWFjVXqBgLu8T8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_PaxnGaTEbeJ99m3V",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "verify hash password",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_8m7T1Fz0hFKGTA3m",
            "type": "tab",
            "createdDate": "2023-08-30T08:49:20.522Z",
            "label": "commonFunction",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_uqM4zfoVV7YifkNN",
            "flowName": "verifyHash"
        },
        "inputVariables": [
            {
                "key": "hashValue",
                "map": true,
                "valueType": "bh",
                "value": "agencyResult[0].password"
            },
            {
                "key": "originalValue",
                "map": true,
                "valueType": "bh.input",
                "value": "body.password"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "resultValue",
                "valueType": "bh",
                "value": "resultValue",
                "mapVarName": "resultValue",
                "localVar": "bh.resultValue"
            }
        ],
        "callService": "../util/commonFunction",
        "startName": "verifyHash",
        "inputParams": [
            "bh.agencyResult[0].password",
            "bh.input.body.password"
        ],
        "accept_bh": false,
        "functionName": "verifyHashPassword",
        "category": "General",
        "x": 505,
        "y": 320,
        "wires": [
            [
                "sd_AOAbZWlpwLU6bITH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_9TyhHPuFlrGpmtoi",
        "type": "find",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "erd": "_DM_1wo0oo92n",
        "entityId": "_EN_ztxyh089jt",
        "_UI_entityName": "agent_db",
        "dbConfigId": "sd_dfYj0bD4aEucAtoz",
        "primayKey": "id",
        "operationType": "find",
        "_ID": "bh",
        "filterBy": "bh.condition",
        "offSet": "bh",
        "orderBy": "bh",
        "pageSize": "bh",
        "resultMapping": "bh.agencyResult",
        "functionName": "sd_9TyhHPuFlrGpmtoi",
        "category": "Data Model",
        "x": 305,
        "y": 280,
        "wires": [
            [
                "sd_KdMuDejT7oPED8ol"
            ]
        ],
        "__ssdTypeInputs__": {
            "_ID": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filterBy": {
                "type": "bh",
                "value": "condition",
                "constant": false
            },
            "offSet": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "orderBy": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "pageSize": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "agencyResult",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {
            "_ID": true
        },
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_HYE9EzDYXS6ggxgB",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.agencyResponse = {\n    \"msg\": \"username & password is wrong!\",\n    \"status\": 400\n}",
        "functionName": "sd_HYE9EzDYXS6ggxgB",
        "category": "Function",
        "x": 505,
        "y": 240,
        "wires": [
            [
                "sd_zY8BqtKNQrsYyGtO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_KdMuDejT7oPED8ol",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "agencyResult",
        "propertyType": "bh",
        "propertyGv": "bh.agencyResult",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_KdMuDejT7oPED8ol",
        "category": "Function",
        "x": 405,
        "y": 280,
        "wires": [
            [
                "sd_HYE9EzDYXS6ggxgB"
            ],
            [
                "sd_PaxnGaTEbeJ99m3V"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_AOAbZWlpwLU6bITH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let agencyResult = bh.agencyResult;\n\n// console.log(\"resultValue:\", bh.resultValue);\nlet passwordVerify;\nawait bh.resultValue.then((ans) => {\n    passwordVerify = true;\n  })\n  .catch((error) => {\n    console.error('Error:', error);\n    passwordVerify = false;\n  });\n\nbh.passwordVerify = passwordVerify;\n\n// bh.agencyResponse = {\n//     \"msg\": \"login successfully\",\n//     \"status\": 200,\n//     agencyResult\n// }",
        "functionName": "sd_AOAbZWlpwLU6bITH",
        "category": "Function",
        "x": 605,
        "y": 320,
        "wires": [
            [
                "sd_I3eZFDq9clQtVRyi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_6iCkL3PHGUDWWVGq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let agencyResult = bh.agencyResult;\n\nbh.agencyResponse = {\n    \"msg\": \"login successfully\",\n    \"status\": 200,\n    \"data\": agencyResult\n}",
        "functionName": "sd_6iCkL3PHGUDWWVGq",
        "category": "Function",
        "x": 785,
        "y": 327,
        "wires": [
            [
                "sd_zY8BqtKNQrsYyGtO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_I3eZFDq9clQtVRyi",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "passwordVerify",
        "propertyType": "bh",
        "propertyGv": "bh.passwordVerify",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_I3eZFDq9clQtVRyi",
        "category": "Function",
        "x": 685,
        "y": 320,
        "wires": [
            [
                "sd_HYE9EzDYXS6ggxgB"
            ],
            [
                "sd_6iCkL3PHGUDWWVGq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_NK3K8jtJS8SKV1SZ",
        "type": "update",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "erd": "_DM_1wo0oo92n",
        "entityId": "_EN_ztxyh089jt",
        "_UI_entityName": "agent_db",
        "dbConfigId": "sd_dfYj0bD4aEucAtoz",
        "operationType": "update",
        "filterBy": "bh.condition",
        "updateObject": "bh.agencyData",
        "resultMapping": "bh.updatedResult",
        "functionName": "sd_NK3K8jtJS8SKV1SZ",
        "category": "Data Model",
        "x": 825,
        "y": 600,
        "wires": [
            [
                "sd_wB2aYCSwO1kJ2haE"
            ]
        ],
        "__ssdTypeInputs__": {
            "filterBy": {
                "type": "bh",
                "value": "condition",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            },
            "updateObject": {
                "type": "bh",
                "value": "agencyData",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "updatedResult",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_8J5qJTACPryrpFet",
        "type": "find",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "erd": "_DM_1wo0oo92n",
        "entityId": "_EN_ztxyh089jt",
        "_UI_entityName": "agent_db",
        "dbConfigId": "sd_dfYj0bD4aEucAtoz",
        "primayKey": "id",
        "operationType": "find",
        "_ID": "bh",
        "filterBy": "bh.condition",
        "offSet": "bh",
        "orderBy": "bh",
        "pageSize": "bh",
        "resultMapping": "bh.agencyResult",
        "functionName": "sd_8J5qJTACPryrpFet",
        "category": "Data Model",
        "x": 305,
        "y": 600,
        "wires": [
            [
                "sd_eNkwtAs5XBWSDKsA"
            ]
        ],
        "__ssdTypeInputs__": {
            "_ID": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filterBy": {
                "type": "bh",
                "value": "condition",
                "constant": false
            },
            "offSet": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "orderBy": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "pageSize": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "agencyResult",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {
            "_ID": true
        },
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_yX0xd4IHq9EG1J7T",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let {device_id} = bh.input.body;\n\nbh.agencyData = bh.agencyResult[0];\n// console.log(\"bh.agencyData:\", bh.agencyData);\nlet uuids = bh.agencyResult[0].device_ids.uuids\nbh.uuids = uuids;\n\n// if(uuids.length == 3) {\n//     // todo: LiFo (List in Fist out)\n// } else {\n//     uuids.push(device_id);\n// }\n// console.log(\"uuids:\", uuids);",
        "functionName": "sd_yX0xd4IHq9EG1J7T",
        "category": "Function",
        "x": 505,
        "y": 540,
        "wires": [
            [
                "sd_py0PJmCk5kOzzg0P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_py0PJmCk5kOzzg0P",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "uuids.length",
        "propertyType": "bh",
        "propertyGv": "bh.uuids.length",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num",
                "gv": "3"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_py0PJmCk5kOzzg0P",
        "category": "Function",
        "x": 605,
        "y": 540,
        "wires": [
            [
                "sd_yUlFFxJYOBjbevLG"
            ],
            [
                "sd_3Btzk0Mnz2sLpEsb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_yUlFFxJYOBjbevLG",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let {username, device_id} = bh.input.body;\n\n// todo: LiFo (List in Fist out)\n// remove first value\nbh.uuids.shift(); \n\n// add value in last\nbh.uuids.push(device_id);\n\n// let updateObject = bh.uuids;\n// bh.updateObject = {'uuids': updateObject};",
        "functionName": "sd_yUlFFxJYOBjbevLG",
        "category": "Function",
        "x": 705,
        "y": 480,
        "wires": [
            [
                "sd_NK3K8jtJS8SKV1SZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_3Btzk0Mnz2sLpEsb",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let {username, device_id} = bh.input.body;\n\n// todo: insert new device id\n// add new value in last\nbh.uuids.push(device_id);\n\n// let updateObject = bh.uuids;\n// bh.updateObject = {'uuids': updateObject};",
        "functionName": "sd_3Btzk0Mnz2sLpEsb",
        "category": "Function",
        "x": 705,
        "y": 600,
        "wires": [
            [
                "sd_NK3K8jtJS8SKV1SZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_wB2aYCSwO1kJ2haE",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let updatedResult = bh.agencyData;\n\nbh.response = {\n    'msg': 'record updated Succefulley',\n    'status': 200,\n    'data': updatedResult\n}",
        "functionName": "sd_wB2aYCSwO1kJ2haE",
        "category": "Function",
        "x": 925,
        "y": 600,
        "wires": [
            [
                "sd_f7MVEArhVg09KHKk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_hKsplx2kDBJj2SvH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let {biometric_flag} = bh.input.body;\nconsole.log(\"biometric_flag:\", biometric_flag);\nbh.agencyData = bh.agencyResult[0];\n\nbh.agencyData.biometric_flag = biometric_flag;",
        "functionName": "sd_hKsplx2kDBJj2SvH",
        "category": "Function",
        "x": 605,
        "y": 680,
        "wires": [
            [
                "sd_NK3K8jtJS8SKV1SZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_eNkwtAs5XBWSDKsA",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "body.device_id",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.body.device_id",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_eNkwtAs5XBWSDKsA",
        "category": "Function",
        "x": 405,
        "y": 600,
        "wires": [
            [
                "sd_yX0xd4IHq9EG1J7T"
            ],
            [
                "sd_lzycgQqxoSEaKWhK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_lzycgQqxoSEaKWhK",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "body.biometric_flag",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.body.biometric_flag",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_lzycgQqxoSEaKWhK",
        "category": "Function",
        "x": 505,
        "y": 660,
        "wires": [
            [
                "sd_hKsplx2kDBJj2SvH"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_qiouiWK5EIAa9FnV",
        "type": "Comments",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "comments": "<p>Here update all fileds.</p>",
        "category": "General",
        "x": 505,
        "y": 700,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_qiouiWK5EIAa9FnV"
    },
    {
        "id": "sd_MxdohO5U0xe0Cdol",
        "type": "ExecuteSql",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_dfYj0bD4aEucAtoz",
        "resultMap": {
            "type": "bh",
            "value": "queryResponse"
        },
        "multipleQuery": "",
        "singleQuery": {
            "type": "bh",
            "value": "query"
        },
        "inputs": 1,
        "outputs": 1,
        "params": [],
        "dbType": "postgres",
        "functionName": "sd_MxdohO5U0xe0Cdol",
        "category": "Storage",
        "x": 305,
        "y": 820,
        "wires": [
            [
                "sd_9JxSx8jd8pTBoVbp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_9JxSx8jd8pTBoVbp",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_95awrkAwOhbtVjaf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let queryResponse = bh.queryResponse[0];\nif( queryResponse != undefined) {\n    bh.response = {\n        \"msg\": \"Data retrieved successfully\",\n        \"status\": 200,\n        \"data\": queryResponse\n    }\n} else {\n    bh.response = { \n        \"msg\": \"No Data Found\",\n        \"status\":404,\n    }\n}",
        "functionName": "sd_9JxSx8jd8pTBoVbp",
        "category": "Function",
        "x": 405,
        "y": 820,
        "wires": [
            [
                "sd_NSeb907wu3TACa50"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    }
]
