hdfc-poc/designs/services/agency_services.json
[
    {
        "id": "sd_FIBZuy3HVJ6QWLZD",
        "type": "tab",
        "createdDate": "2023-08-31T09:29:02.478Z",
        "label": "agency_services",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "tabType": "client",
        "generateNext": true,
        "serviceName": "agency_services",
        "relativeParentPath": ""
    },
    {
        "id": "sd_Dr0FhVt5vf81GLqP",
        "type": "Start",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "update agency",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "biometric_flag",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "device_id",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "updateAgency",
        "category": "General",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "sd_f3Iqak2gpYVKTIJN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services"
    },
    {
        "id": "sd_4Anx4N7wowNyc9eG",
        "type": "Script",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.apiRequest = `${bh.ssdUrl}agency-update`;",
        "functionName": "sd_4Anx4N7wowNyc9eG",
        "category": "Function",
        "x": 345,
        "y": 100,
        "wires": [
            [
                "sd_B6HSJXO0ll5qGbdi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_f3Iqak2gpYVKTIJN",
        "type": "Environment",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_f3Iqak2gpYVKTIJN",
        "category": "General",
        "x": 225,
        "y": 100,
        "wires": [
            [
                "sd_4Anx4N7wowNyc9eG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_jJsWm7khgcNFRdxh",
        "type": "Switch",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "biometric_flag",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.biometric_flag",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_jJsWm7khgcNFRdxh",
        "category": "Function",
        "x": 545,
        "y": 160,
        "wires": [
            [
                "sd_lKRGjdAqFangRhuS"
            ],
            [
                "sd_26euH8Gw27u4RMV3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_B6HSJXO0ll5qGbdi",
        "type": "Switch",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "device_id",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.device_id",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_B6HSJXO0ll5qGbdi",
        "category": "Function",
        "x": 445,
        "y": 120,
        "wires": [
            [
                "sd_KNrD42WrzlFQdM1S"
            ],
            [
                "sd_jJsWm7khgcNFRdxh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_KNrD42WrzlFQdM1S",
        "type": "Script",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.bodyParams = {\n    \n}",
        "functionName": "sd_KNrD42WrzlFQdM1S",
        "category": "Function",
        "x": 545,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_lKRGjdAqFangRhuS",
        "type": "Script",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Biometric\");",
        "functionName": "sd_lKRGjdAqFangRhuS",
        "category": "Function",
        "x": 645,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_26euH8Gw27u4RMV3",
        "type": "Script",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"Done:\");",
        "functionName": "sd_26euH8Gw27u4RMV3",
        "category": "Function",
        "x": 645,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_DC088IPVTM6Kw0Qv",
        "type": "HttpRequest",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.apiRequest",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "apiRequest"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.responseApi",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "responseApi"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_DC088IPVTM6Kw0Qv",
        "category": "HTTP",
        "x": 800,
        "y": 120,
        "wires": [
            [
                "sd_Udmye7S2yn05PvGc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services"
    },
    {
        "id": "sd_Udmye7S2yn05PvGc",
        "type": "Log",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.responseApi",
        "functionName": "sd_Udmye7S2yn05PvGc",
        "category": "General",
        "x": 940,
        "y": 120,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "responseApi",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services"
    },
    {
        "id": "sd_YjqurYP3HtvTizKJ",
        "type": "Start",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "check device",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "device_id",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "responseApi",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "checkDevice",
        "category": "General",
        "x": 125,
        "y": 300,
        "wires": [
            [
                "sd_QTMByZO3l65H9iiy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services"
    },
    {
        "id": "sd_QTMByZO3l65H9iiy",
        "type": "Environment",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_QTMByZO3l65H9iiy",
        "category": "General",
        "x": 225,
        "y": 300,
        "wires": [
            [
                "sd_iMmesSBBxtMCSpJN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_iMmesSBBxtMCSpJN",
        "type": "Script",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n// bh.apiRequest = `${bh.ssdUrl}check-device/${bh.input.device_id}`;\nbh.apiRequest = `${bh.ssdUrl}check-device/${bh.input.device_id}`;",
        "functionName": "sd_iMmesSBBxtMCSpJN",
        "category": "Function",
        "x": 345,
        "y": 300,
        "wires": [
            [
                "sd_WRgkJTG6pGC3YEjL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_WRgkJTG6pGC3YEjL",
        "type": "HttpRequest",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.apiRequest",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "apiRequest"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.responseApi",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "responseApi"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_WRgkJTG6pGC3YEjL",
        "category": "HTTP",
        "x": 465,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_ijTbqRBJpBLMGnK1",
        "type": "Log",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.local.responseApi",
        "functionName": "sd_ijTbqRBJpBLMGnK1",
        "category": "General",
        "x": 600,
        "y": 300,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "responseApi",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services"
    },
    {
        "id": "sd_OOWShvT8HikI68M0",
        "type": "Start",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "agent login",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "bodyParams",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "responseApi",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "agentLogin",
        "category": "General",
        "x": 125,
        "y": 420,
        "wires": [
            [
                "sd_LYNYGTfC8QQ1IBgC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services"
    },
    {
        "id": "sd_9KDyuNWG0xYgHOBJ",
        "type": "Script",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "login http endpoint",
        "script": "// console.log(\"bodyParams:\", bh.input.bodyParams);\n\nbh.apiRequest = `${bh.ssdUrl}login`;",
        "functionName": "loginHttpEndpoint",
        "category": "Function",
        "x": 345,
        "y": 420,
        "wires": [
            [
                "sd_ZUmn3rbwH0WvYyc1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_LYNYGTfC8QQ1IBgC",
        "type": "Environment",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_LYNYGTfC8QQ1IBgC",
        "category": "General",
        "x": 225,
        "y": 420,
        "wires": [
            [
                "sd_9KDyuNWG0xYgHOBJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_ZUmn3rbwH0WvYyc1",
        "type": "HttpRequest",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "login http request",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.apiRequest",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "apiRequest"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.bodyParams",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "bodyParams"
        },
        "resultMapping": "bh.local.responseApi",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "responseApi"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "loginHttpRequest",
        "category": "HTTP",
        "x": 465,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_Q2EuF85iw4djwezt",
        "type": "Log",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.local.responseApi",
        "functionName": "sd_Q2EuF85iw4djwezt",
        "category": "General",
        "x": 605,
        "y": 420,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "responseApi",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services"
    },
    {
        "id": "sd_1Cu4uj22hsoQit7n",
        "type": "Start",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Agency Update",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "bodyParams",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "agencyUpdate",
        "category": "General",
        "x": 125,
        "y": 540,
        "wires": [
            [
                "sd_gtzMvkw0JMME9eux"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services"
    },
    {
        "id": "sd_gtzMvkw0JMME9eux",
        "type": "Environment",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_gtzMvkw0JMME9eux",
        "category": "General",
        "x": 225,
        "y": 540,
        "wires": [
            [
                "sd_9dewsfq1yRhVwgO5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_9dewsfq1yRhVwgO5",
        "type": "Script",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "agency update http endpoint",
        "script": "// console.log(\"bodyParams:\", bh.input.bodyParams);\n\nbh.apiRequest = `${bh.ssdUrl}agency-update`;",
        "functionName": "agencyUpdateHttpEndpoint",
        "category": "Function",
        "x": 345,
        "y": 540,
        "wires": [
            [
                "sd_cCMee3ydHHbHoZge"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_cCMee3ydHHbHoZge",
        "type": "HttpRequest",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "agency update http request",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.apiRequest",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "apiRequest"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.bodyParams",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "bodyParams"
        },
        "resultMapping": "bh.local.responseApi",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "responseApi"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "agencyUpdateHttpRequest",
        "category": "HTTP",
        "x": 465,
        "y": 540,
        "wires": [
            [
                "sd_pFAtxgcMFJkuLojK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_pFAtxgcMFJkuLojK",
        "type": "Log",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.local.responseApi",
        "functionName": "sd_pFAtxgcMFJkuLojK",
        "category": "General",
        "x": 605,
        "y": 540,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "responseApi",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "agency_services",
        "generated": true
    },
    {
        "id": "sd_spXPJ6USGbXhg8Pl",
        "type": "Comments",
        "z": "sd_FIBZuy3HVJ6QWLZD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "comments": "<p>waste this service :(</p>",
        "category": "General",
        "x": 100,
        "y": 180,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "agency_services",
        "functionName": "sd_spXPJ6USGbXhg8Pl"
    }
]
